*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.team{
   position: relative;
   top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}
.team h1{
    font-size: 45px;
}
.teams{
    margin-bottom: 500px;
}


.main{
    position: relative;
   top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 400px;
    margin-bottom: 100px;
   
}
.profile-card{
    position: relative;
    width: 220px;
    height: 220px;
    background: white;
    padding: 30px;
    border-radius: 50%;
    box-shadow: rgba(21, 214, 3, 0.3) 0px 0px 0px 3px;
    transition: .6s;
}

.profile-card:hover{
    border-radius: 10px;
    height: 280px;
}
.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}
.profile-card:hover .img{
    transform: translateY(-60px);
}
.img img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0 0 22px green;
    transition: .6s;
}
.profile-card:hover img{
    border-radius: 10px;
}
.caption{
    text-align: center;
    transform: translateY(-85px);
    opacity: 0;
    transition: .6s;
}
.profile-card:hover .caption{
    opacity: 1;
}
.caption h3{
    font-size: 21px;
}
.caption p{
    font-size: 17px;
    color: #0c5;
    margin: 2px 0 6px 0;
}

.caption .social-links a{
    color: #333;
    margin-right: 8px;
    font-size: 25px;
}
.social-links a:hover{
    color: #0A66C2;
    transition: .6s;
    
}


@media (max-width:720px){
    .teams{
        margin-bottom: 250px;
    }
    .main{
        margin-bottom: 100px;
        gap:100px;
    }


}

    